.home a {
  font-weight: bold;
  font-size: 40px;
  text-decoration: none;
  color: #CD5C5C;
}

h1 {
  text-align: center;
  padding-bottom: 21px;
  margin: 30px 0px 30px 0px;
  border-bottom: 1px solid #A0522D;
}

h2 {
  font-weight: bold;
  font-size: 35px;
  text-decoration: none;
  color: #F08080;
  margin-top: 30px;
}

.list a, li {
  color: #966147;
  text-decoration: none;
}

ol {
  margin-top: 30px;
}

body p {
  text-align: left;
}

.textarea {
  resize: none;
  /* 사용자 임의 변경 불가 */
}

.grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    "header header"
    "list info"
  ;
}

.info {
  display: inline-block;
  border-left: 1px solid #A0522D;
  padding-left: 30px;
  grid-area: info;
}

.home {
  grid-area: header;
}

.list {
  grid-area: list;
}
