doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=EUC-KR")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href="/") 홈으로
    block content
